GROQ_API_KEY=your_groq_key_here
GROQ_MODEL=llama-3.3-70b-versatile
TELEGRAM_BOT_TOKEN=your_telegram_bot_token
TELEGRAM_CHAT_ID=your_chat_id
APP_NAME=SecureIQ
APP_ENV=development
BACKEND_URL=http://localhost:8000
CHROMA_PERSIST_DIR=./data/chroma_db
CVE_DATA_DIR=./data/cve
HF_MODEL_ID=
HF_API_TOKEN=