fastapi
uvicorn
python-dotenv
langchain
langgraph
langchain-groq
llama-index
llama-index-vector-stores-chroma
chromadb
sentence-transformers
scikit-learn
pandas
numpy
httpx
requests
feedparser
python-telegram-bot
schedule
python-multipart
aiofiles
joblib
apscheduler
huggingface-hub
